VITE_API_URL=http://localhost:3001
VITE_MAP_EMBED=https://maps.google.com/maps?q=Masoro,Rulindo,Rwanda&output=embed
VITE_DONATE_URL=https://donate.example.com
SUPABASE_URL=https://purieusiczhfzmwnmzhl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1cmlldXNpY3poZnptd25temhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTgzMzY0OCwiZXhwIjoyMTAxNDA5NjQ4fQ.TuQ4JX9-i00sBzc52KpEI7-scXLakU-JlH5Sqju-cbo
